{% extends 'store/base.html' %}

{% block content %}
<div class="col-lg-12">
    <hr>
        <h6 class="intro-text text-center">Meilleures voitures & meilleures offres</h6>
    <hr class="detail-separator">
</div>

<p class="text-center">Nous croyons que notre succès dépend de la satisfaction de nos clients, de leur donner la priorité et de les traiter avec toute honnêteté et transparence.  Notre expérience nous a permis de connaître et de comprendre les besoins de nos précieux
    clients pour leurs fournir des prix compétitifs et des meilleurs services.</p>
<br><br>
<p class="intro-text text-center">
    <ul><h3><b>Nos services :</b></h3>
        <li><h6>Assurance tout risque</h6></li>
        <li><h6>Entretien régulier</h6></li>
        <li><h6>Meilleure prix</h6></li>
        <li><h6>Sportives, familiales et de luxe</h6></li>
    </ul>
</p>

{% endblock %}