{% extends 'store/base.html' %}

{% block content %}
<hr>
<h1 class="intro-text text-center">CONTACT</h1>
<hr class="detail-separator">
    <div>
        <div class="col-md-4" style="margin-left:120px;margin-top:120px;">
            <ul class="nospace btmspace-30 linklist contact">
              <li><i class="fa fa-map-marker"></i> Street Name &amp; Number, Errachidia, 23020</li>
              <li><i class="fa fa-phone"></i> +212 6 00 00 00 00</li>
              <li><i class="fa fa-fax"></i> +212 5 00 00 00 00</li>
              <li><i class="fa fa-envelope-o"></i> info@touraway.com</li>
            </ul>
        </div>
    <div class="col-md-6">
        <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                    var setting = {"height":531,"width":754,"zoom":13,"queryString":"Errachidia, Maroc","place_id":"ChIJ29mVDJBKmA0Rs_iuNvHkZOM","satellite":false,"centerCoord":[31.93538577603142,-4.422599046694701],"cid":"0xe364e4f136aef8b3","lang":"fr","cityUrl":"/morocco/errachidia-36595","cityAnchorText":"Carte de Errachidia, Morocco, Maroc","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"308490"};
                    var d = document;
                    var s = d.createElement('script');
                    s.src = 'https://1map.com/js/script-for-user.js?embed_id=308490';
                    s.async = true;
                    s.onload = function (e) {
                      window.OneMap.initMap(setting)
                    };
                    var to = d.getElementsByTagName('script')[0];
                    to.parentNode.insertBefore(s, to);
                  })();</script></a>
        </div>
    </div>
</div>
</div>

{% endblock %}
